<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Meine Dokumente"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView backgroundColor="lightgray">
        <StackLayout>
            <ng-container *ngFor="let item of items">
                <GridLayout columns="120,*" backgroundColor="lightgray" class="p-t-8" #view>
                    <Image visibility="{{ !item.img ? 'visible' : 'collapsed' }}"
                        src="https://data2.unhcr.org/images/documents/big_e95f5a40921c34fe8963fd4c68149b0fed61fb18.jpg"
                        stretch="fill" col="0" borderColor="lightgray" borderWidth="1 0 1 0">
                    </Image>
                    <Image visibility="{{ item.img ? 'visible' : 'collapsed' }}"
                        [src]="item.img"
                        stretch="fill" col="0" borderColor="lightgray" borderWidth="1 0 1 0">
                    </Image>
                    <FlexboxLayout flexDirection="column" justifyContent="space-between" col="1" backgroundColor="white"
                        borderColor="lightgray" borderWidth="1 0 1 1">
                        <Label text="{{item.timestamp | date: 'dd.MM.yyyy HH:mm'}} Uhr" class="p-10"></Label>
                        <FlexboxLayout flexDirection="column" class="p-10">
                            <Label [text]="mapDocumentStatus(item.status).text" textWrap="true"></Label>
                            <GridLayout columns="*,*" class="progressbar">
                                <StackLayout col="0" [class.progressbar-value]="item.status >=2"></StackLayout>
                                <StackLayout col="1" class="progressbar-section"
                                    [class.progressbar-value]="item.status >=3"></StackLayout>
                            </GridLayout>
                        </FlexboxLayout>
                        <FlexboxLayout justifyContent="center" backgroundColor="#f7f3f2" borderColor="lightgray"
                            borderWidth="1 0 1 0" height="40">
                            <Button text="Löschen" class="btn" (touch)="onTouch($event)"
                                (tap)="deleteDocument(item, view)"></Button>
                            <Button text="Senden" class="btn" (touch)="onTouch($event)"
                                visibility="{{ item.status === 1 ? 'visible' : 'collapsed' }}"></Button>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </GridLayout>
            </ng-container>
        </StackLayout>
    </ScrollView>
    <Fab (tap)="createNewDocument()" icon="'+'" rippleColor="#f1f1f1" class="fab-button"></Fab>
</GridLayout>
